# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=barq

# JWT
JWT_SECRET=barq-token
JWT_EXPIRES_IN=24h
REFRESH_TOKEN_SECRET=barq-refrsh-token

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=example@gmail.com
SMTP_PASS=app_password

# App
APP_NAME=BarqTransfer
APP_URL=https://yourdomain.com
FRONTEND_URL=http://localhost:5173

# triple-a
TRIPLEA_BASE_URL=https://api.triple-a.io/v1
TRIPLEA_API_KEY=your_triplea_api_key
TRIPLEA_API_SECRET=your_triplea_api_secret
TRIPLEA_MERCHANT_ID=your_merchant_id